web/bundles/*
web/media/*
web/css/*
web/js/*
web/dist/*
web/cache/*
app/archive/*
var/cache/*
#app/config/parameters.yml
var/logs/*
app/import/*
app/export/*
app/emails/*
app/uploads/*
app/uploads/product/*
app/file_storage/*
app/bootstrap.php.cache
var/bootstrap.php.cache
app/phpunit.xml
build/
vendor
/bin/*
!/bin/docker
/bin/docker/*
!/bin/docker/pim-setup.sh
!/bin/docker/pim-dependencies.sh
!/bin/docker/pim-front.sh
!/bin/docker/pim-initialize.sh
!/bin/console
behat.yml
.phpspec/*.tpl
composer.phar
composer.lock
node_modules/
phpspec.yml
npm-debug.log
yarn.lock
package-lock.json
yarn-error.log

.env
/docker/*
!/docker/akeneo.conf
!/docker/httpd.conf
!/docker/sso_authsources.php
docker-compose.override.yml

.idea/*
.ssh
